@import 'reset';

body{
    background: rgb(219, 10, 167);
}

.fa{
    color: #111;
    font-size: 25px;
}

#avatar{
    font-size: 60px;    
}

.img-icon{
    height: 625px;
    width: 500px;
}

.prof-pics{
    height: 425px;
    width: 425px;
}